<div class="d-flex justify-content-center align-items-center vh-100" style="background-image: url('/images/bublePic.png'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-warning text-center fw-bold">
                    Order number #<strong class="text-warning bg-danger">@ViewBag.OrderId</strong>
                    <a asp-action="Index" asp-controller="Home" class="text-white">Keep shopping</a>
                </h1>
            </div>
            <div class="col-12 text-center">
                <img src="~/images/OrderSuccess.png" class="rounded-2 img-fluid" style="opacity: 0.7;" />
            </div>
        </div>
    </div>
</div>
