@model ModelClasses.Category

@{
    var actionItem = "Create";
}
@if(Model != null)
{
    actionItem = "Edit";
}

<div class="PaddingAll">
    <h2 class="text-info">@actionItem a Category</h2>
    <hr />
    <div class="PaddingAllWhite">
        <div class="row">
            <div class="col-12 p-3">
                <form asp-action="Upsert" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-3 form-group">
                                    <label class="text-info" asp-for="Name"></label>
                                </div>
                                <div class="col-9 form-group">
                                    <input asp-for="Name" class="form-control" placeholder="Max 30 characters" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-3 col-lg-4 col-md-4 col-sm-8 form-group p-2">
                                    <a asp-action="Index" class="btn btn-primary form-control">Go Back to List</a>
                                </div>
                            </div>
                            @if (Model != null)
                            {
                                <div class="offset-3 col-lg-4 col-md-4 col-sm-8 form-group p-2">
                                    <button type="submit" class="btn btn-success form-control">@actionItem</button>
                                </div>
                            }
                            else
                            {
                                <div class="offset-3 col-lg-4 col-md-4 col-8 form-group p-2">
                                    <button type="submit" class="btn btn-success form-control">@actionItem</button>
                                </div>
                            }
                        </div>
                        <div class="col-1"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}